@model MVC_Turistas.Models.SucursalTuristum

@{
    ViewData["Title"] = "Details";
}

<h1>Detalle</h1>

<div>
    <h4>SucursalTuristum</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodigoSucursalNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodigoSucursalNavigation.CodigoSucursal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodigoTuristaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodigoTuristaNavigation.CodigoTurista)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" class="btn-edit"  asp-route-id="@Model?.CodigoSucursalTurista">Editar</a> |
    <a asp-action="Index" class="btn btn-dark" type="button" >Regresar</a>
</div>
