@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido  </h1>
    <image src="https://skift.com/wp-content/uploads/2019/07/trivago-facade-e1563978553903.jpg"/>
    <p>Repositorio en GitHub <a href="https://github.com/Re-21-12/ProyectoFinalBDIMVC"  target="_blank">Proyecto MVC con ASP.NET Core</a>.</p>
</div>
