@model MVC_Turistas.Models.Vuelo

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar</h1>

<h4>Vuelo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="NumeroVuelo" />
            <div class="form-group">
                <label asp-for="Fecha" class="control-label"></label>
                <input asp-for="Fecha" class="form-control" />
                <span asp-validation-for="Fecha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hora" class="control-label"></label>
                <input asp-for="Hora" class="form-control" />
                <span asp-validation-for="Hora" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Origen" class="control-label"></label>
                <input asp-for="Origen" class="form-control" />
                <span asp-validation-for="Origen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Destino" class="control-label"></label>
                <input asp-for="Destino" class="form-control" />
                <span asp-validation-for="Destino" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlazaTotales" class="control-label"></label>
                <input asp-for="PlazaTotales" class="form-control" />
                <span asp-validation-for="PlazaTotales" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlazaTuristaDisponible" class="control-label"></label>
                <input asp-for="PlazaTuristaDisponible" class="form-control" />
                <span asp-validation-for="PlazaTuristaDisponible" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-dark" type="button" >Regresar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
